.#{$void}-subnav {
  $subnav-height: 0.6rem;
  $subnav-border-radius: 0.08rem;
  $subnav-padding: 0 0.2rem;
  $subnav-content-height: 0.6rem;
  $subnav-font-size: 0.24rem;
  $subnav-font-weight: bold;

  @include flex(row, flex-start, stretch, nowrap);
  width: 100%;
  height: $subnav-height;

  font-size: $subnav-font-size;
  font-weight: $subnav-font-weight;
  user-select: none;
  cursor: pointer;

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      background-color: map-get($map: $theme-background-colors, $key: #{$theme}-higher);
      .#{$void}-subnav-item {
        color: map-get($map: $theme-foreground-colors, $key: $theme);
        &.selected {
          background-color: map-get(
            $map: $theme-background-colors,
            $key: #{$theme}-hover
          );
        }
      }
    }
  }
}

.#{$void}-subnav-item {
  @include flex(row, center, center, nowrap);
  flex: 1 1 0%;
  background-color: transparent;
}
