.#{$void}-carousel {
  display: flex;
  flex-direction: column;
  width: 7.9rem;
  height: 5.36rem;

  .slide-wrapper {
    width: 100%;
    height: 4.14rem;
  }

  .control-wrapper {
    width: 100%;
    flex-grow: 1;
    position: relative;
  }

  .small-image {
    position: absolute;
    bottom: 0;
    width: 1.91rem;
    height: 1.11rem;

    &::before {
      content: '^';
      display: inline-block;
      position: absolute;
      top: 0;
    }
  }

  .img,
  .image {
    width: 100%;
    height: 100%;
  }
}
