.#{$void}-article {
  font-size: $article-font-size;
  line-height: $article-line-height;
  width: 100%;

  p {
    font-size: $article-paragraph-font-size;
    margin: $article-paragraph-margin;
  }

  blockquote {
    padding: $article-blockquote-padding;
    border-left: $border-base;
    border-left-width: $article-blockquote-border-left;
    margin: $article-blockquote-margin;

    p {
      margin: $article-blockquote-paragraph-margin;
    }
  }

  img {
    max-width: 100%;
  }

  li {
    margin: $article-listitem-margin;
  }

  ul,
  ol {
    padding-left: $article-list-padding-left;
    margin: $article-list-margin;
  }

  sub,
  sup {
    font-size: 80%;
  }

  pre,
  code {
    font-family: $font-family-code;
    font-size: 0.9em;
  }

  code {
    padding: 0.02rem 0.04rem;
  }

  pre {
    display: block;
    code {
      font-size: 1em;
      display: block;
      padding: $gutter-small $gutter-xsmall;
      overflow-x: auto;
    }
  }

  hr {
    border-width: 0;
    border-style: solid;
    border-bottom-width: 1px;
    margin: 0.32rem 0;
  }

  // tr:hover {
  //   background-color: $lite-background-hover;
  // }

  &.theme {
    @each $theme in $ss-themes {
      &-#{$theme} {
        color: map-get($map: $theme-foreground-colors, $key: $theme);

        b,
        strong {
          color: map-get($map: $theme-foreground-colors, $key: #{$theme}-emphasize);
        }

        hr {
          border-color: map-get($map: $theme-background-colors, $key: #{$theme}-border);
        }

        blockquote {
          border-color: map-get($map: $theme-background-colors, $key: #{$theme}-border);
          background-color: map-get(
            $map: $theme-background-colors,
            $key: #{$theme}-higher
          );
        }

        code {
          background-color: map-get(
            $map: $theme-background-colors,
            $key: #{$theme}-higher
          );
        }
      }
    }
  }
}
